
label.logo{
    padding-left: 100%;
    background: scroll;
    background-color: rgb(43, 226, 89);
    background-position: 50PX;
    
    padding: 0 80px;
    border: radius 30px;
}
.zop{position:  absolute right;
    padding-left: 20px;
    padding: 30px;
    margin: auto;
    background-color: rgba(248, 105, 10, 0.979);
    font: outline;
    font-display:bold;
    box-decoration-break: slice;

}
nav .ul{
    float: opacity 0;
    float:right;
    margin-right: 0 20px;
}
