*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins',sans-serif;
}


nav.back{ 
  object-position: initial;
  background:black;  
    height: 100px;
    border-block-start-style: groove;
    border-block-start-width: 15px;
    border-block-start-color: gold;
    border-block-start-width: 08px;
    
    border-block-end-width: 20px;
    border-block-end-color:gold;
    border-block-end-style: groove;
    border-block-end-width: 15px;
}
 
label.logo{
color:rgb(38, 17, 231);
background-color: #95f337;

font-size:35px;
padding: 03px 30px;
height: 80px;
margin-left: 20px;
margin-top: 100px; 
transition: .5s;
font-weight: bolder;
background-size: auto;
background-clip: padding-box;
line-height: 80px;
border-block-start-style: solid ;
border-block-start-color: red;
border-block-end-color: lightcoral;
border-block-end-style: groove;
border-block-end-width: 5px;
border-top-left-radius: 40px  ;
border-bottom-right-radius: 20px;
}
a.zop{

color: rgb(21, 255, 0);
padding:05px 20px;
justify-content: space-around;
border-radius: 50px;
text-decoration: none;
border-block-start-style: double ;
border-block-start-color: red;
}
.subtabs{
    margin-left: 220px;
    margin-top: 2%;
}

a{
    text-decoration: none;
    color: #555;

}
p{
    color: #555;
 }
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.buybutt1{
    font-size: 15px;
    background-color: crimson;
    margin: 35px;
    margin-left: 35px;
    padding: 5px 20px;
    box-sizing: content-box;
    border-radius: 15px;
}
.header{
    background: linear-gradient(rgb(226, 229, 247),rgb(152, 140, 236),rgb(52, 8, 124));
    height: 110%;
}
.heade .row{
    margin-top: 70px;

}

.catogories{
  margin: 0 25px;    

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;


}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 100%;
    padding: 50px 0px;


}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: linear-gradient(red , gold);

}

.col-2 {
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    transition: transform 0.5s;
}
.col-2:hover{
    transform: translateY(-5px);
}

.col-3 {
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.col-3 img{
    border-radius: 20px;
    border-radius: 20px;
    height: 180px;
    width:200px;

    
}
.col-3 p{
    font-size: 14px;
    transition: transform 0.5s;
    
    margin-left: 15px;
}

.col-3:hover{
    transform: translateY(-5px);
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    margin-bottom: 50px;
}
.col-4 img{
    
    height: 100px;
    width:120px;
    border-radius: 20px;
}

.col-4 p{
    font-size: 14px;
    transition: transform 0.5s;
}
.col-4:hover{
    transform: translateY(-5px);
}
   
.col-5{
    flex-basis: 50%;
    width: 500px;
}.col-5 p{
    font-size: 24px;
    transition: transform 0.5s;
}

    
.col-5 img{
    width: 200px;
    height: 220px;
    border-radius: 20px;
}
.col-5:hover{
    transform: translateY(-5px);
}
.col-6{
  justify-content: center;
    height: 400px;
    width: 300px;
    cursor: pointer;
    border-radius: 5%;
}

.col-6 img{
    margin: 15px;
    height: 120px;
    width: 150px;
    border-radius: 10%;
}

.ak{
    margin-top: 30px;
    color: #95f337;
    font-size: 12px;
    margin: 15px;
  }
.col-8{
    
    padding:10px;
    min-width: 200px;
    margin-top: 50px;
    

}
/*----------------other css----*/
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(10, 196, 25);
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
    margin: 20px;
}

.rating .fa{
    color: #ff523b;
}




small{
    color: rgb(38, 6, 219);
    font-size: 14px;
}
/*---------------Brands---------*/
.brands{
    margin: 100px auto;
}
section{
    margin-top: 10px;
    margin-bottom: auto;
    width: 200px;
    color: red;
    height:100px;

}
.footer{
    background-color: black;
    height: max-content;

}
text{margin: auto;
    
}
.copy{
    justify-self: center;
}

 .row{
        display: flex;
        flex-wrap: wrap;
    
}
.foot{
    height: 400px;
}
.footerow{
    height: 200px;
    width: auto;
}